<?xml version="1.0"?>
<model>
  <n>Fast Sign Poster</n>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <n>Your Name</n>
    <email>your.email@ntu.ac.uk</email>
  </author>
  <description>
    A flat poster displaying a fast sign for object detection testing
  </description>
</model>